html, body {
	height: 100vh;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
