@media only screen and (max-width: 800px) {
    .txnList .srcName {
        display: none;
    }

    .txnList td:nth-child(5) {
        display: none;
    }

    .txnList th:nth-child(5) {
        display: none;
    }
    .txnList {
        table-layout: fixed;
    }
    .txnListFrom {
	width: 2.5em;
    }
    .txnListAmount {
        width: 3.7em;
    }
}

td>* {
    vertical-align: middle;
}